@model DoAnMangMayTinh.Models.LichThi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LichThi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_Lich" />
            <div class="form-group">
                <label asp-for="ID_KyThi" class="control-label"></label>
                <select asp-for="ID_KyThi" class="form-control" asp-items="ViewBag.ID_KyThi"></select>
                <span asp-validation-for="ID_KyThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Mon" class="control-label"></label>
                <select asp-for="ID_Mon" class="form-control" asp-items="ViewBag.ID_Mon"></select>
                <span asp-validation-for="ID_Mon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Phong" class="control-label"></label>
                <select asp-for="ID_Phong" class="form-control" asp-items="ViewBag.ID_Phong"></select>
                <span asp-validation-for="ID_Phong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayThi" class="control-label"></label>
                <input asp-for="NgayThi" class="form-control" />
                <span asp-validation-for="NgayThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioThi" class="control-label"></label>
                <input asp-for="GioThi" class="form-control" />
                <span asp-validation-for="GioThi" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a asp-action="Index" class="btn btn-secondary">Huỷ</a>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
