@model DoAnMangMayTinh.Models.Lop
@{
    ViewData["Title"] = "Thêm lớp";
}

<h2>@ViewData["Title"]</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-controller="Lop" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="MaLop"></label>
        <input asp-for="MaLop" class="form-control" />
        <span asp-validation-for="MaLop" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TenLop"></label>
        <input asp-for="TenLop" class="form-control" />
        <span asp-validation-for="TenLop" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Huỷ</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
