@model DoAnMangMayTinh.Models.PhanCong

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PhanCong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_PC" />
            <div class="form-group">
                <label asp-for="ID_GV" class="control-label"></label>
                <select asp-for="ID_GV" class="form-control" asp-items="ViewBag.ID_GV"></select>
                <span asp-validation-for="ID_GV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Lich" class="control-label"></label>
                <select asp-for="ID_Lich" class="form-control" asp-items="ViewBag.ID_Lich"></select>
                <span asp-validation-for="ID_Lich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VaiTro" class="control-label"></label>
                <input asp-for="VaiTro" class="form-control" />
                <span asp-validation-for="VaiTro" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a asp-action="Index" class="btn btn-secondary">Huỷ</a>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
